{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../../static/css/article.css">
<title>{{post.title}}</title>
{% endblock head %}

{% block content %}
<div class="contents">
    <h1>{{post.title}}</h1>
    <img src="{{ post.image.url }}" class="profile-pic" alt="{{ post.title }}">
    <div class="date-wrapper">
        <p>作成日: {{post.created_at | date}}</p>
        <p class="update">更新日: {{post.updated_at | date}}</p>
        <p class="author">著者: {{post.author}}</p>
    </div>
    <hr>
    <div class="content">
        <p>{{post.content | safe}}</p>
    </div>
</div>
{% endblock content %}