{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/css/blog.css">
<title>JIROOM -blog-</title>
{% endblock head %}

{% block content %}
<div class="menu">
    <div class="bicycle">
        <img src="media/images/roadbike.jpeg" alt="">
    </div>
    <div class="study">
        <img src="media/images/study.jpeg" alt="">
    </div>
</div>
<div class="contents">
    <h1>ブログ一覧</h1>
    <hr>
    {% for post in posts %}
    {% if post.status == "public" %}
    <div class="article">
        <a href="{% url 'article' post.pk %}">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="profile-pic" alt="{{ post.title }}">
            {% endif %}
            <h2>{{post.title}}</h2>
            <p>作成日: {{post.created_at | date:'Y/m/d'}}</p>
            <p>更新日: {{post.updated_at | date:'Y/m/d'}}</p>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}