
@media screen and (max-width:500px) {
    /* 画像の大きさ */
.image{
    margin-left: 20px;
    border: 2px solid white;
    transition: border 0.3s;
    transition: height 1s;
}
.image:hover{
    border: 2px solid #696969;
}
.image1{
    height: 300px;
    width: auto;
}
.image2{
    height: 270px;
    width: auto;
}
.image3{
    height: 430px;
    width: auto;
}
.point-image1{
    height: 150px;
    width: auto;
    margin: 30px;
}
.image-container{
    position: relative;
    height: 300px;
    margin-bottom: 30px;
}
.before-image, .after-image{
    position: absolute;
    top: 0;
    left: 20px;
    height: 300px;
    width: auto;
    transition: opacity 0.5s;
}
.before-image:hover{
    opacity: 0;
}
.after-image{
    border: 2px solid #696969;
}
}

@media screen and (min-width:501px) {
/* 画像の大きさ */
.image{
    margin-left: 20px;
    border: 2px solid white;
    transition: border 0.3s;
    transition: height 1s;
}
.image:hover{
    border: 2px solid #696969;
}
.image1{
    height: 300px;
    width: auto;
}
.image2{
    height: 270px;
    width: auto;
}
.image3{
    height: 430px;
    width: auto;
}
.point-image1{
    height: 150px;
    width: auto;
    margin: 30px;
}
.image-container{
    position: relative;
    height: 300px;
    margin-bottom: 30px;
}
.before-image, .after-image{
    position: absolute;
    top: 0;
    left: 20px;
    height: 300px;
    width: auto;
    transition: opacity 0.5s;
}
.before-image:hover{
    opacity: 0;
}
.after-image{
    border: 2px solid #696969;
}
}