*{
  background-color: rgba(0, 0, 0, 0);
}

/* スマホ用 */
@media screen and (max-width: 500px) {
  /* ヘッダー */
  header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    height: 40px;
    letter-spacing: 0.25em;
  }

  /* ロゴの枠 */
  .my-logo{
    display: inline-block;
    align-items: center;
    height: auto;
    width: auto;
    margin: 5px 0 0 10px;
  }
  .my-logo a{
    font-size:20px;
    font-weight: bold;
  }
  
  /* 一番左のトップメニュー */
  .menu1{
    margin-left: auto;
  }
        
  /* トップメニュー */
  .menu{
    margin-top: 10px;
    margin-right: 20px;
    width: auto;
  }
        
  /* inputを非表示に */
  .menu input{
      display: none;
  }
        
  /* ラベル */
  .menu label{
    font-size: 15px;
    cursor: pointer;
  }
        
  /* メニュー内容を非表示に */
  .menu-contents{
    height: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    align-items: center;
    background: rgba(0,0,0,0);
    transition: 1s;  
  }
        
  /* メニュー内容 */
  .menu-contents a{
    display: block;
    font-size: 12px;
    padding-bottom: 12px;
    background: rgba(0,0,0,0);
    transition: 0.1s;
  }
        
  /* メニューをクリックしたとき */
  .menu input:checked ~ .menu-contents{
    height: auto;
    padding: 10px 0;
  }

  footer{
    background-color: #EEEEEE;
    height: 100px;
  }
}

/* PC用 */
@media screen and (min-width: 501px) {
  /* ヘッダー */
  header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
     height: 55px;
    letter-spacing: 0.25em;
  }

  /* ロゴの枠 */
  .my-logo{
    display: inline-block;
    align-items: center;
    height: auto;
    width: auto;
    margin: 10px 0 0 30px;
  }

  /* ロゴ */
  .my-logo a{
    font-size: 30px;
    font-weight: bold;
  } 

  /* 一番左のトップメニュー */
  .menu1{
    margin-left: auto;
  }

  /* トップメニュー */
  .menu{
    margin-top: 17px;
    margin-right: 80px;
    width: auto;
  }

  /* inputを非表示に */
  .menu input{
   display: none;
  }

  /* ラベル */
  .menu label{
    font-size: 18px;
    cursor: pointer;
  }

  /* アンダーライン */
  .under-line{
    padding-left: 13px;
    padding-right: 10px;
    position: relative;
  }

  /* アンダーライン */
  .under-line::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    height: 1.8px;
    width: 0%;
    background-color: black;
    transition: 0.7s;
  }

  /* アンダーラインのアニメーション */
  .menu label:hover .under-line::after{
    width: 100%;
  }

  /* メニュー内容を非表示に */
  .menu-contents{
    height: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    align-items: center;
    background: rgba(0,0,0,0);
    transition: 1s;
  }

  /* メニュー内容 */
  .menu-contents a{
    display: block;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 5px;
    background: rgba(0,0,0,0);
    transition: 0.1s;
  }

  /* メニュー内容をhoverしたとき */
  .menu-contents a:hover{
    font-size: 15px;
  }

  /* メニューをクリックしたとき */
  .menu input:checked ~ .menu-contents{
    height: auto;
    padding: 15px 0;
  }



  footer{
    background-color: #EEEEEE;
    height: 100px;
  }
}