*{
    font-family: Roman, "Tsukushi A Round Gothic", Hiragino Kaku Gothic ProN, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    height: 100px;
}

.logo{
    margin-top: 30px;
    margin-left: 30px;
}

.logo a{
    font-weight: 900;
    font-size: 30px;
    color: black;
}

main{
    height: 1000px;
    background-color: khaki;
}

.contents{
    padding-top: 80px;
    margin-left: 15%;
    margin-right: 30%;
}

.profile-pic{
    width: 100%;
}

.date-wrapper{
    display: flex;
}

.author{
    margin-left: auto;
    margin-right: 5%;
}

.update{
    margin-left: 15px;
}

.content{
    margin-top: 5px;
    line-height: 30px;
}