*{
  font-family: Roman, Hiragino Kaku Gothic ProN;
  margin: 0;
  font-size: 10px;
  background-color: white;
  color: black;
  height: auto;
  width: 100%;
  letter-spacing: 0.1em;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}
