<!DOCTYPE html>

<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/init.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/stylesheet.css') }}">
    {% block head %}{% endblock %}
  </head>

  <body>
    <header>
      <div class="my-logo">
        <a href="/">Jiroom</a>
      </div>
    
      <div class="menu menu1">
        <label for="label1"><span class="under-line">Learn</span></label>
        <input type="checkbox" id="label1"/>
        <div class="menu-contents">
          <a href="/math">Math</a>
          <a href="#">Python</a>
        </div>
      </div>
    
      <div class="menu">
        <label for="label2"><span class="under-line">Life</span></label>
        <input type="checkbox" id="label2"/>
        <div class="menu-contents">
          <a href="#">Food</a>
        </div>
      </div>
    </header>
    
    {% block body %}{% endblock %}

    <footer>
    </footer>
  </body>
</html>
