{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/lesson.css') }}">
<link rel="stylesheet" 
      href="{{ url_for('static', filename='css/complex1.css') }}">
<title>複素平面</title>
{% endblock %}

{% block body %}
<main>
    <div class="main">
        <div class="main-wrapper">
           <div class="lesson">
               <h3 class="lesson-title">[複素数] 複素平面</h3>
               <img src="static/images/complex/complex9.png" class="main-image">

               <div class="mobile-contents">
                   <p>Contents</p>
                   <ul>
                       <li><a href="#section1">複素平面とは</a></li>
                       <li><a href="#section2">複素数の加法・減法</a></li>
                       <li><a href="#section3">複素数の乗法・除法</a></li>
                       <li><a href="#section4">まとめ</a></li>
                   </ul>
                </div>

               <div class="section">
                   <div class="section-title" id="section1">
                       <h6><span class="color">複</span>素平面とは</h6>
                   </div>
                   <div class="sentence">
                       <p>複素数はイメージしにくいから、可視化したい。</p>
                       <p>しかし問題点がある。</p>
                       <p>実数は二乗すると正の値になるものだった。</p>
                       <p>実数直線上はそのような数の連続なので、虚数がその間に入ると考えるのは難しい。</p>
                       <br>
                       <p>そこで、実数直線の垂直方向に虚数部分を表すこととし、</p>
                       <p>横軸が実部(Re)、縦軸が虚部(Im)であるような直交座標系の平面を考える。</p>
                       <p>それを複素平面と呼ぶ。</p>
                       <p>a + bi を複素平面上に表すと</p>
                       <img src="static/images/complex/image10.png" class="image image1">
                   </div>
               </div>

               <div class="section">
                  <div class="section-title" id="section2">
                    <h6><span class="color">複</span>素数の加法・減法</h6>
                  </div>
                  <div class="sentence">
                      <p>複素数の加法・減法は、実部と虚部を分けて計算する。</p>
                      <div class="point1">
                          <p><span class="point-title">複素数の加法・減法</span></p>
                          <img src="static/images/complex/point1.png" class="point-image1">
                      </div>
                      <img src="static/images/complex/image7.png" class="image image1">
                      <img src="static/images/complex/image8.png" class="image image1">
                      <p>加法・減法で点の平行移動を考えることができる。</p>
                      <p>ベクトルと同じ考えでわかりやすい。</p>
                  </div>
               </div>

               <div class="section">
                   <div class="section-title" id='section3'>
                       <h6><span class="color">複</span>素数の乗法・除法</h6>
                   </div>
                   <div class="sentence">
                       <div class="point2">
                          <p><span class="point-title">複素数の乗法・除法</span></p>
                          <img src="static/images/complex/point2.png" class="point-image2">
                       </div>
                       <p>Proof</p>
                       <img src="static/images/complex/image11.png" class="image image2">
                       <br>
                       <img src="static/images/complex/image12.png" class="image image3">
                       <p>加法・減法と比べると、何を意味するのかをイメージしにくい。</p>
                       <p>乗法・除法は<a href="/complex3#section3" class="jump-btn">極形式</a>で解くと意味がわかりやすい。</p>
                       <br>
                       <p>複素数の点に i をかける</p>
                       <img src="static/images/complex/image13.png" class="image image1">
                       <img src="static/images/complex/image14.png" class="image image1">
                       <img src="static/images/complex/image18.png" class="detail-image image1">
                       <img src="static/images/complex/image19.png" class="detail-image image1">
                   </div>

               </div>

               <div class="section">
                   <div class="section-title" id="section4">
                       <h6><span class="color">ま</span>とめ</h6>
                   </div>
                   <div class="sentence">
                    <p>・複素平面とは横軸を実軸、縦軸を虚軸と置いた直交座標系の平面。</p>
                    <p>・複素平面での四則演算
                        <ul>
                            <li>加法・減法はベクトルと同じ平行移動でわかりやすい。</li>
                            <li>乗法・除法は計算がめんどくさく、イメージしづらい。</li>
                        </ul>
                    </p>
                    <p>→ 乗法・除法は極形式で表した方が簡単でわかりやすい。</p>
                   </div>
                   <p class="next-sentence">Next ...<a href="/complex3" class="next">極形式</a></p>
               </div>
           </div>
        </div>
    </div>

    <div class="side">
        <div class="contents">
            <p>Contents</p>
            <ul>
                <li><a href="#section1">複素平面とは</a></li>
                <li><a href="#section2">複素数の加法・減法</a></li>
                <li><a href="#section3">複素数の乗法・除法</a></li>
                <li><a href="#section4">まとめ</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}