{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/math.css') }}">
<title>Top page</title>
{% endblock %}

{% block body %}
<main>
    <div class="main">
        <div class="main-wrapper">
            <!-- 数学 -->
            <a href="/complex1" class="lesson1">
                <img src="static/images/complex/main1.png" class="lesson-image">
                <h5>2021/07/24</h5>
                <p class="complex">虚数・複素数とは</p>
            </a>
            <a href="/complex2" class="lesson2">
                <img src="static/images/complex/complex9.png" class="lesson-image">
                <h5>2021/07/24</h5>
                <p class="complex">複素平面</p>
            </a>
            <a href="/complex3" class="lesson1">
                <img src="static/images/complex/complex9.png" class="lesson-image">
                <h5>2021/07/27</h5>
                <p class="complex">極形式</p>
            </a>
            <a href="#" class="lesson2">
                <img src="static/images/complex/complex9.png" class="lesson-image">
                <h5>2021/</h5>
                <p class="complex"></p>
            </a>
            <!-- 機械学習 -->
            <a href="/machineLearning1" class="lesson1">
                <img src="static/images/complex/complex9.png" class="lesson-image">
                <h5>2021/08</h5>
                <p class="machine">多項式フィッティング</p>
            </a>
        </div>
    </div>
  
    <div class="side">
    </div>
</main>
{% endblock %}
