{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/top.css') }}">
<title>Top page</title>
{% endblock %}

{% block body %}
<div class="top">
  <a class="top-logo" href="/">Jiroom</a>
  <div class="top-list">
    <div class="btn-box">
      <a class="top-btn" href="/high_math">高校数学</a>
      <p class="btn-space"></p>
    </div>
    <div class="btn-box">
      <a class="top-btn" href="#">高校物理</a>
      <p class="btn-space"></p>
    </div>
    <div class="btn-box">
      <a class="top-btn" href="#">Python</a>
      <p class="btn-space"></p>
    </div>
  </div>
</div>

<div class="main">
  <div class="contents">
    <div class="section">
      <a  class="section-title" href="/high_math">高校数学</a>
      <div class="sentence">
        <a class="main-unit" href="/high_math">数学I</a>
        <a class="unit" href="#">数と式</a>
        <a class="unit" href="#">図形と計量</a>
        <a class="unit" href="#">二次関数</a>
        <a class="unit" href="#">データ分析</a>
      </div>
    </div>
  </div>
  <div class="contents">
    <div class="section">
      <a  class="section-title" href="#">高校物理</a>
      <div class="sentence">
        <p>これから書いていきます</p>
      </div>
    </div>
  </div>
  <div class="contents">
    <div class="section">
      <a  class="section-title" href="#">Python</a>
      <div class="sentence">
        <p>これから書いていきます</p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
</div>
{% endblock %}
