
/* メインの実装 */
main{
    position: relative;
    z-index: 10;
    display: flex;
}

/* メインコンテンツの実装 */
.main{
    width: 72%;
}

/* レッスンを置く場所 */
.main-wrapper{
    position: relative;
    z-index: 20;
    margin-top: 30px;
    width: 85%;
    margin-left: 15%;
    /* background-color: #EEEEEE; */
}

/* レッスン内容 */
.lesson{
    width: 90%;
    margin: 0 5%;
    padding: 30px 0;
}

/* レッスンタイトル */
.lesson-title{
    font-size: 25px;
}

.main-image{
    width: 75%;
    margin-left: 5%;
    margin-right: 20%;
    margin-top: 50px;
}


/* 各セクション */
.section-title{
    padding-top: 55px;
    margin-bottom: 30px;
}
.section-title h6{
    font-size: 20px;
    padding: 10px 0 10px 10px;
    border-top: 3px solid #A9A9A9;
    border-bottom: 3px solid #A9A9A9;
}
.color{
    color: #708090;
}

/* レッスンの文章 */
.sentence{
    line-height: 1.7em;
    letter-spacing: 0.1em;
    width: 95%;
    margin: 0 2.5%;
}
.sentence p, .sentence sup, .sentence li, .left-sentence sup{
    color: #696969;
}
.mark{
    background:linear-gradient(transparent 60%, #FFFF00 60%);
}
.point1, .point2{
    border: 2px solid #696969;
    border-radius: 10px;
    margin: 30px 0;
    position: relative;
}
.point1{
    height: 125px;
}
.point2{
    height: 160px;
}
.point-title{
    font-size: 18px;
    display: block;
    width: auto;
    padding: 0 10px;
    background-color: white;
    position: absolute;
    top: -12px;
    left: 15px;
}
.point1-sentence, .point2-sentence{
    margin: 20px 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.point1-sentence p{
    line-height: 2em;
}
.point2-sentence p{
    line-height: 3em;
}
.under-txt{
    vertical-align: sub;
    font-size: 10px;
    color: #696969;
}
.jump-btn:hover{
    text-decoration: underline;
}


.fraction{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    text-align: center;
}
.fraction-n,.fraction-d{
    display: block;
    line-height: 1em;
    color: #696969;
}
.fraction-n{
    border-bottom: 2px solid #696969;
}
.fraction-d{
    margin-bottom: 10px;
}



/* 画像の大きさ */
.image{
    margin-left: 20px;
    border: 2px solid white;
    transition: border 0.3s;
    transition: height 1s;
}
.image:hover{
    border: 2px solid #696969;
}
.image1{
    height: 300px;
    width: auto;
}
.image2{
    height: 140px;
    width: auto;
}
.image3{
    height: 260px;
    width: auto;
}
.point-image1{
    height: 75px;
    width: auto;
    margin: 27px 30px;
}
.point-image2{
    height: 105px;
    width: auto;
    margin: 30px;
}
.detail-image{
    margin-left: 20px;
}

/* 次のページ */
.next-sentence{
    margin-top: 50px;
}
.next{
    padding: 0 10px;
    margin-left: 5px;
}
.next:hover{
    text-decoration: underline;
}



/* 目次 */
.contents{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    border: 2px solid black;
    position: relative;
}

/* 目次の背景を透明に */
.contents, .contents ul, .contents li, .contents a{
    background: rgba(0, 0, 0, 0);
}

/* 目次の中身 */
.contents ul{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 30px;
}
.contents li{
    margin-bottom: 10px;
}
.contents a:hover{
    color:rgba(0, 0, 0, 0.5);
}
.contents p{
    padding: 0 10px;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #708090;
    display: block;
    width: auto;
}

.side{
    width: 28%;
    background-color: #708090;
}

/* *{
    border: 2px solid black;
} */