.menu{
    padding-top: 80px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.bicycle{
    margin-left: 20%;
}

.study{
    margin-left: 5%;
}

.contents{
    margin-left: 15%;
    margin-right: 30%;
}

.article{
    width: 90%;
    margin: 3% 5%;
    border-radius: 5px;
    border: solid 5px lightslategray;
    transition: 1s all;
}

.article:hover{
    transform: scale(1.03);
    transition: 1s all;
}

.article a{
    color: black;
}

.profile-pic{
    width: 100%;
    border-radius: 1px 1px 0 0;
}