.contents{
    padding-top: 50px;
}

.contents ul{
    margin-left: 55%;
}

.contents ul li{
    display: inline-block;
    width: 17%;
    text-align: center;
}

.contents ul li a{
    font-weight: 800;
    font-size: 20px;
    color: black;
}