{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/complex3.css') }}">
<title>極形式</title>
{% endblock %}

{% block body %}
<main>
    <div class="main">
        <div class="main-wrapper">
           <div class="lesson">
               <h3 class="lesson-title">[複素数] 極形式</h3>
               <img src="static/images/complex/complex9.png" class="main-image">

               <div class="section">
                  <div class="section-title" id="section1">
                     <h6><span class="color">極</span>形式とは</h6>
                  </div>
                  <div class="sentence">
                      <p>複素数を極座標で表すと </p>
                      <p>原点からの距離 r と偏角 θ を用いて</p>
                      <img src="static/images/complex/image15.png" class="image image1">
                      <p> z = r(cosθ + isinθ) とかける。</p>
                      <p>この式を極形式という。</p>
                  </div>
               </div>

               <div class="section">
                   <div class="section-title" id="section2">
                       <h6><span class="color">極</span>形式で表すメリット</h6>
                   </div>
                   <div class="sentence">
                       <p>1.</p>
                       <p>乗法・除法が簡単に計算できる。</p>
                       <br>
                    </div>
               </div>

               <div class="section">
                  <div class="section-title" id="section2">
                     <h6><span class="color">極</span>形式の乗法・除法</h6>
                  </div>
                  <div class="sentence">
                     <div class="point1">
                        <p><span class="point-title">極形式の乗法・除法</span></p>
                        <img src="static/images/complex/point3.png" class="point-image1">
                     </div>
                     <p class="proof">proof</p>
                     <img src="static/images/complex/image16.png" class="image image2">
                     <br>
                     <img src="static/images/complex/image17.png" class="image image3">
                     <br>
                     <p>example</p>
                     <div class="image-container">
                        <img src="static/images/complex/image21.png" class="image after-image">
                        <img src="static/images/complex/image20.png" class="image before-image">
                     </div>
                     <div class="image-container">
                        <img src="static/images/complex/image23.png" class="image after-image">
                        <img src="static/images/complex/image22.png" class="image before-image">
                     </div>
                     <p>上のように極形式の乗法・除法は図でみるとわかりやすい。</p>
                     <br>
                     <p><a href="/complex2#section3" class="jump-btn">複素数の乗法・除法</a> で解説したように i をかけると原点を中心に点が90°回転する。</p>
                     <p>これは i = cos(&pi;/2) + isin(&pi;/2) より</p>
                     <p>i を割ると原点からの距離はそのままで &pi;/2(=90°) 回転</p>
                     <p>i で割ると原点からの距離はそのままで -&pi;/2(=-90°) 回転することが容易にわかる。</p>
                  </div>
               </div>

                <div class="section">
                    <div class="section-title" id="section5">
                        <h6><span class="color">ま</span>とめ</h6>
                    </div>
                    <div class="sentence">
                        <p>・複素数を極形式 z = r(cos&theta; + isin&theta;) で表せる。</p>
                        <p>・極形式で表すメリット</p>
                        <ul>
                            <li>乗法 除法の計算が簡単。</li>
                        </ul>
                    </div>
                    <p class="next-sentence">Next ...<a href="/complex4" class="next">共役複素数</a></p>
                </div>
           </div>
        </div>
    </div>

    <div class="side">
        <div class="contents">
            <p>Contents</p>
            <ul>
                <li><a href="#section1">極形式とは</a></li>
                <li><a href="#section2">極形式で表すメリット</a></li>
                <li><a href="#section3">極形式の乗法・除法</a></li>
                <li><a href="#section5">まとめ</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}