{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/complex1.css') }}">
<title>多項式フィッティング</title>
{% endblock %}

{% block body %}
<main>
    <div class="main">
        <div class="main-wrapper">
           <div class="lesson">
               <h3 class="lesson-title">[機械学習] 多項式フィッティング</h3>
               <img src="static/images/complex/.png" class="main-image">
               <div class="section">
                   <div class="section-title" id="section1">
                       <h6><span class="color">多</span>項式フィッティング</h6>
                   </div>
                   <div class="sentence">
                       <p>多項式フィッティング</p>
                   </div>
               </div>
           </div>
        </div>
    </div>

    <div class="side">
        <div class="contents">
            <p>Contents</p>
            <ul>
                <li><a href="#section1">多項式フィッティング</a></li>
                <li><a href="#section4">まとめ</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}
